    /* Container */
    #notification-container {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        text-align: center;
    }

    /* Base notification */
    .custom-alert {
        display: flex;
        align-items: center;
        background: #fff;
        color: #000;
        padding:4px 10px;
        margin: 10px 0;
        border-radius: 50px;
        font-size: 12px;
        animation: slideIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s forwards;
        overflow: hidden;
        border: 1px solid;
        font-weight: 600;
    }


    .alert-error { border-color: #FF1C36; color: #FF1C36;background: #FFF6F7; }
    .alert-warning { border-color: #FFB438; color:#FFB438; background:#FFFAF1}

    /* Icon */
    .icon {
        margin-right: 5px;
    }

    /* Slide-in animation */
    @keyframes slideIn {
        from { transform: translateY(-50px); opacity: 0; }
        to { transform: translateY(0); opacity: 1; }
    }

    /* Fade-out animation */
    @keyframes fadeOut {
        to { opacity: 0; }
    }
