        .category-card {
            position: relative;
            height: 100px;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            overflow: hidden;
            color: white;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }

        @media (max-width: 768px) {
          .category-card{
            height: 80px;
          }
            .category-row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .category-col {
                width: 48%;
                margin-bottom: 10px;
            }
        }